.fz_14px {
  font-size: 14px;
  line-height: 16px;
}
.fz_16px {
  font-size: 16px;
}
.fz_23px {
  font-size: 23px;
  line-height: 120%;
}
.fz_32px {
  font-size: 32px;
  line-height: 120%;
}
.fz_45px {
  font-size: 45px;
  line-height: 120%;
}
.fz_64px {
  font-size: 64px;
  line-height: 120%;
}