.button {
  padding: 12px 32px;
  border: none;
  background-color: transparent;
  &_position {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $accent-color;
    z-index: 99999;
    padding: 20px 32px;
  }
}

.button.button_primery {
  background-color: $accent-color;
  color: #fff;

  &:hover {
    @include hoverBtn;
  }
}

.button.button_secondary {
  background-color: transparent;
  border: 1px solid $light-gray-color;
  color: #000;

  &:hover {
    @include hoverBtnBorder;
    cursor: pointer;

    svg {
      path {
        fill: $light-blue-color;
      }
    }
  }
}

.section {
  &-title {
    font-variant-numeric: lining-nums;
    font-weight: 900;
    color: #031230;
  }
}