.settings {
  padding-top: 150px;
  margin-bottom: 160px;
  &__title {
    color: $black-color;
  }
  &__subtitle {
    color: $medium-gray-color;
  }
  &__link {
    color: $black-color;
    &:hover {
      color: $accent-color;
    }
  }
}

@media (max-width: 858.98px) {
  .settings{
    padding-top: 300px;
    &__title, &__subtitle {
      font-size: 43px;
      line-height: 120%;
    }
  }
}
@media (max-width: 520.98px) {
  .settings{
    padding-top: 120px;
  }
}