.question {
  padding-bottom: 160px;

  &-block {
    height: 80px;
    border-bottom: 1px solid #B6C4E0;
    overflow: hidden;
    transition: height .5s;

    &:hover {
      border-color: $accent-color;
      cursor: pointer;
      overflow: auto;
      .question-header__title {
        color: $accent-color;
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    &__btn {
      padding: 0;
      padding: 10px;

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }

  &-footer {
    padding-top: 12px;
    padding-bottom: 38px;

    &__text {
      margin: 0;
      max-width: 847px;
      color: rgba($color: #263B64, $alpha: 0.8);
    }
  }

}