.autopage {
  padding-top: 120px;
  padding-bottom: 200px;
  &__title {
    color: $black-color;
  }
  &__subtitle {
    color: #8B9FC8;
  }

  &__catalog {
    margin-bottom: 24px;

    svg {
      transform: rotate(180deg);

      path {
        fill: $light-blue-color;
      }
    }
    &_right {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 0;
      svg {
        margin-left: 4px;
        transform: rotate(0);
      }
    }
  }

  &__link {
    margin: 0;
    margin-left: 10px;
    color: $light-blue-color;

    &:hover {
      color: $accent-color;
    }
  }

  &-slider {
    position: relative;
    height: 360px;
    margin-bottom: 4px;

    &__wrapper {
      height: 100%;
    }

    &__slid {
      height: 100%;
    }

    &__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__btns {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__btn {
      height: 100%;
      padding: 0;
      margin: 0;
      padding-right: 60px;
      border: none;
      background-color: transparent;

      svg {
        width: 30px;
        height: 30px;
      }

      &_right {
        transform: rotate(-180deg);
      }

      &:hover {
        background: linear-gradient(360deg, #010919 -71.77%, rgba(1, 9, 25, 0) 82.74%);
      }
    }
  }

  &-nav {
    overflow: hidden;

    &__wrapper {
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
    }

    &__slid:not(:last-child) {
      margin-right: 4px;
    }

    &__slid {
      position: relative;
      min-width: 120px;
      max-height: 64px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(3, 18, 48, 0.4), rgba(3, 18, 48, 0.4));
      }

      &_active {
        &::before {
          background: none;
        }
      }
    }
  }

  &-info {
    &_mt {
      margin-top: 80px;
      margin-bottom: 114px;
    }
  }
}

.auto {
  &-desc {
    font-variant-numeric: lining-nums;
  }
  &__name {
    font-weight: bold;
    color: $black-color;
    font-variant-numeric: lining-nums;
  }

  &-block {
    &__status {
      display: none;
      color: $red-color;

      &_sell {
        display: inline-flex;
      }
    }

    &__price {
      font-family: sans-serif;

      &_active {
        color: $accent-color;
      }
    }

  }

  &__share {
    display: flex;
    align-items: center;
    margin-left: auto;
    border: none;
    background-color: transparent;

    svg {
      margin-left: 5px;
    }
  }

  &-desc {
    margin-bottom: 16px;
    padding-top: 24px;
    padding-bottom: 35px;
    border: 1px solid #DAE0EE;
    border-right: none;
    border-left: none;
  }

  &-item {
    &__subtitle {
      color: $black-color;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &-contact {
    svg {
      path {
        fill: $light-blue-color;
      }
    }

    &__phone {
      color: $light-blue-color;

      &:hover {
        color: $accent-color
      }
    }

    &__btn:not(:last-child) {
      margin-right: 13px;
    }
  }
}