@media (max-width: 991.98px) {
  .promo {
    &__title {
      font-size: 50px;
      line-height: 110%;
    }
  }
}

@media (max-width: 767.98px) {
  .promo {
    padding-bottom: 300px;

    &__title {
      font-size: 35px;
      margin-bottom: 25px;
    }

    &-contact {
      &__social {
        order: 1;
        margin: 0 0 20px 0;
        border: none;
      }
      &__phone {
        margin-bottom: 20px;
      }
      &__phones {
        font-size: 23px;
      }
    }
    &_column {
      flex-direction: column;
    }
  }
}

@media (max-width: 490.98px) {
  .promo {
    &__title {
      font-size: 23px;
    }
  }
}
