@import './bootstrap/bootstrap-grid.min';
@import './bootstrap/bootstrap-reboot.min';


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');

@import './base/variables';
@import './base/mixins';
@import './base/font-size';
@import './base/intarface';

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #526283;

}

a {
  position: relative;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  width: 100%;
}

//elements
@import './elements/burger';

// main style
@import './header/header';
@import './blocks/promo/promo';
@import './blocks/preview/preview';
@import './blocks/steps/steps';
@import './blocks/services/services';
@import './blocks/reviews/reviews';
@import './blocks/question/question';
@import './footer/footer';
@import './blocks/comment/comment';



//autoPage
@import './blocks/autopage/autopage';

@import './blocks/tabs/tabs';

// modals
@import './elements/modal';


// media
@import './header/media-header';
@import './blocks/promo/media-promo';
@import './blocks/preview/media-preview';
@import './blocks/steps/media-steps';
@import './blocks/services/media-services';
@import './blocks/reviews/media-reviews';
@import './blocks/question/media-question';
@import './footer/media-footer';

@import './blocks/preview/settings-preview';

@import './blocks/autopage/media-autopage';

@import './blocks/tabs/media-tabs';

@import './blocks/order/order';
@import './blocks/order/media-order';


// Щоб не забути _active (comment_active ...) додавав до всіх елементів які повинні були зявитись або щоб не заважали